.volunteer-commendation {
  cursor: pointer;
  min-height: 25px;
  min-width: 25px;
}

.volunteer-commendation span {
  background: url('../img/stars.png') no-repeat -26px 0px;
  display: block;
  height: 25px;
  width: 26px;
}

.volunteer-commendation:hover span {
  background-position: -26px -25px;
}

.volunteer-commendation.commended span {
  background-position: 0 0;
}

.volunteer-commendation.commended:hover span {
  background-position: 0 -25px;
}

#org_civicrm_volunteer-commendation_popup {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #000000;
  position: absolute;
  width: 250px;
  z-index: 102;
}

#org_civicrm_volunteer-commendation_popup.hiddenElement {
  display: none;
}

#org_civicrm_volunteer-commendation_popup .crm-section,
#org_civicrm_volunteer-commendation_popup .crm-submit-buttons {
  margin: 10px;
}

#org_civicrm_volunteer-commendation_popup .crm-section .label {
  clear: both;
  float: none;
  text-align: left;
  width: 100%;
}

#org_civicrm_volunteer-commendation_popup .crm-section .content {
  margin: 10px 0 0 0;
}

#org_civicrm_volunteer-commendation_popup .crm-section .content textarea {
  width: 225px;
}