/* TODO: create images for backgrounds */
.volunteer-commendation {
  background: #FF0000;
  cursor: pointer;
  min-height: 25px;
  min-width: 25px;

}

.volunteer-commendation.commended {
  background: #FFFF00;
}

#org_civicrm_volunteer-commendation_popup {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #000000;
  position: absolute;
  width: 250px;
  z-index: 99;
}

#org_civicrm_volunteer-commendation_popup.hiddenElement {
  display: none;
}

#org_civicrm_volunteer-commendation_popup .crm-section,
#org_civicrm_volunteer-commendation_popup .crm-submit-buttons {
  margin: 10px;
}

#org_civicrm_volunteer-commendation_popup .crm-section .label {
  clear: both;
  float: none;
  text-align: left;
  width: 100%;
}

#org_civicrm_volunteer-commendation_popup .crm-section .content {
  margin: 10px 0 0 0;
}

#org_civicrm_volunteer-commendation_popup .crm-section .content textarea {
  width: 225px;
}