#crm-vol-assign-flexible-region {
  float:left;
  width: 40%;
}

#crm-vol-assign-scheduled-region {
  float: left;
  width: 60%;
}

#crm-vol-assign-scheduled-region .crm-vol-assign-region-inner {
  margin-left: 3%;
}

.crm-vol-assignment {
  cursor: move;
}
