/*
 * Gives the wrapper a minimum height so that, when empty, the progress spinner
 * is visible. (See the related run block in the Angular module.)
 */
#crm-main-content-wrapper {
  min-height: 3em;
}

.crm-vol-half-responsive {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
}
.crm-vol-half-responsive.crm-vol-opp-search {
  float: left;
}
.crm-vol-half-responsive.crm-vol-opp-cart {
  float: right;
}

@media (max-width: 1000px) {
  .crm-vol-half-responsive {
    width: 100%;
    float: none;
  }

  .crm-vol-opp-cart {
    margin-top: 2em;
  }
}

.crm-vol-opp-results span.beneficiary {
  display: block;
}

.crm-vol-opp-cart table .icon,
.crm-vol-opp-results table .icon
{
  cursor: pointer;
}

.crm-vol-opp-results {
  margin-top: 2em;
}

/* wrap label and select together on smaller screens */
.crm-volunteer-profile-use-type {
  display: inline-block;
}

.crm-profile-selector-wrapper {
  float: left;
  margin-right: 10px;
}

.crm-container fieldset.crm-vol-ui-fieldset, fieldset.crm-vol-ui-fieldset {
  border: 1px solid #aaa;
}

.crm-button-remove-profile {
  display: inline-block;
  float: left;
}

#org_civicrm_volunteer-sign-up-profiles .crm-profile-selector-container select {
  margin-bottom: 10px;
}

#org_civicrm_volunteer-sign-up-profiles .crm-profile-selector-container hr {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

#org_civicrm_volunteer-sign-up-profiles .crm-profile-selector-container:only-child .crm-button-remove-profile {
  display: none;
}

.crm-vol-extra-top {
  margin-top: 15px;
}
#crm-vol-location-block {
  width: 90%;
}
#crm-vol-location-block .crm-accordion-body {
  padding: 10px;
}
.crm-vol-search fieldset {
  padding: 2px 5px;
}

#crm-vol-project-list a {
  cursor: pointer;
}

.crm-volunteer-evented-buttons .crm-button.crm-icon-button .crm-evented-button-text {
  padding: 2px 7px 2px 20px;
}