.crm-vol-half-responsive {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
}
.crm-vol-half-responsive:nth-child(odd) {
  float: left;
}
.crm-vol-half-responsive:nth-child(even) {
  float: right;
}

@media (max-width: 1000px) {
  .crm-vol-half-responsive {
    width: 100%;
    float: none;
  }

  .crm-vol-opp-cart {
    margin-top: 2em;
  }
}

.crm-vol-opp-results span.beneficiary {
  display: block;
}

.crm-vol-opp-cart table .icon,
.crm-vol-opp-results table .icon
{
  cursor: pointer;
}

.crm-vol-opp-results {
  margin-top: 2em;
}

#tabs-wrapper {
  display: none;
}

.crm-container fieldset.crm-vol-ui-fieldset, fieldset.crm-vol-ui-fieldset {
  border: 1px solid #aaa;
}

.crm-button-remove-profile {
  display: inline-block;
  float: left;
}

#org_civicrm_volunteer-sign-up-profiles .crm-profile-selector-container:only-child .crm-button-remove-profile {
  display: none;
}

.crm-vol-extra-top {
  margin-top: 15px;
}
#crm-vol-location-block {
  width: 90%;
}
#crm-vol-location-block .crm-accordion-body {
  padding: 10px;
}
.crm-vol-search fieldset {
  padding: 2px 5px;
}

#crm-vol-project-list a {
  cursor: pointer;
}