<!--
Controller: VolOppsCtrl
Required vars: volOppData, searchParams
-->

<div class="crm-container">
  <div crm-ui-debug="volOppData()"></div>
  <div crm-ui-debug="searchParams()"></div>
  <div crm-ui-debug="proximityUnits"></div>
  <div crm-ui-debug="countries"></div>

  <div class="help">
    <p>
      {{helpText()}}
    </p>
  </div>

  <!-- Search Form -->
  <div class="crm-vol-half-responsive crm-vol-opp-show-hidden-search" ng-show="allowShowSearch">
    <div class="crm-buttons">
      <button crm-icon="search" ng-click="showSearch()">{{ts('Filter this List of Volunteer Opportunities')}}</button>
    </div>
  </div>
  <div class="crm-vol-half-responsive crm-vol-opp-search" ng-hide="hideSearch">
    <h2>{{ts('Find Volunteer Opportunities')}}</h2>
    <form name="volOppSearchForm" crm-ui-id-scope>
      <div class="crm-block ui-tabs ui-widget ui-widget-content ui-corner-all">
        <div class="crm-group" crm-ui-id-scope>
          <div crm-ui-field="{name: 'volOppSearchForm.date_start', title: ts('Between')}" class="crm-vol-opp-time">
            <input crm-ui-id="volOppSearchForm.date_start" crm-ui-datepicker="{time: false}" ng-model="searchParams().date_start" />
            <label crm-ui-for="volOppSearchForm.date_end">and</label>
            <input crm-ui-id="volOppSearchForm.date_end" crm-ui-datepicker="{time: false}" ng-model="searchParams().date_end" />
          </div>

          <div crm-ui-field="{name: 'volOppSearchForm.role_id', title: ts('Role')}" class="crm-vol-opp-role">
            <select
              crm-ui-id="volOppSearchForm.role_id"
              crm-ui-select="{minimumInputLength: 0, placeholder: ts('Select Volunteer Role(s)')}"
              type="text"
              multiple="multiple"
              name="role_id"
              ng-model="searchParams().role_id"
              ng-options="key as value for (key , value) in  roles"
              class="big crm-form-text">
              <option />
            </select>
          </div>
          <div crm-ui-field="{name: 'volOppSearchForm.beneficiary', title: ts('With')}" class="crm-vol-opp-beneficiary">
            <input
              crm-entityref="{
                select: {
                  minimumInputLength: 0,
                  placeholder: ts('Select Organizer(s)'),
                  multiple: true
                },
                api: {
                  params: {contact_type: 'Organization'}
                }
              }"
              crm-ui-id="volOppSearchForm.beneficiary"
              type="text"
              name="beneficiary"
              ng-model="searchParams().beneficiary"
              class="big crm-form-text"
            />
          </div>
        </div>
        <div class="crm-vol-proximity" crm-ui-accordion="{title: ts('Search by Location'), collapsed: true}">
          <div crm-ui-field="{name: 'volOppSearchForm.radius', title: ts('Within')}" class="crm-vol-opp-radius">
            <input
              class="four crm-form-text"
              crm-ui-id="volOppSearchForm.radius"
              ng-model="searchParams().proximity.radius"
              ng-required="isProximitySearch()"
              type="number"
            />
            <select
              crm-ui-id="volOppSearchForm.unit"
              ng-model="searchParams().proximity.unit"
              ng-options="option.value as option.label for option in proximityUnits"
              ng-required="isProximitySearch()">
            </select>
            <label crm-ui-for="volOppSearchForm.unit">of:</label>
          </div>
          <div crm-ui-field="{name: 'volOppSearchForm.street_address', title: ts('Street Address')}" class="crm-vol-opp-street">
            <input
              class="crm-form-text"
              crm-ui-id="volOppSearchForm.street_address"
              ng-model="searchParams().proximity.street_address"
              type="text"
            />
          </div>
          <div crm-ui-field="{name: 'volOppSearchForm.city', title: ts('City')}" class="crm-vol-opp-city">
            <input
              class="crm-form-text"
              crm-ui-id="volOppSearchForm.city"
              ng-model="searchParams().proximity.city"
              type="text"
            />
          </div>
          <div
            crm-ui-field="{name: 'volOppSearchForm.postal_code', title: ts('Postal Code')}"
            ng-required="isProximitySearch()" class="crm-vol-opp-postal"
          >
            <input
              class="crm-form-text"
              crm-ui-id="volOppSearchForm.postal_code"
              ng-model="searchParams().proximity.postal_code"
              type="text"
            />
          </div>
          <div crm-ui-field="{name: 'volOppSearchForm.country', title: ts('Country')}" class="crm-vol-opp-country">
            <select
              class="big crm-form-select"
              crm-ui-id="volOppSearchForm.country"
              crm-ui-select="{placeholder: ts('Select Country'), allowClear:true}"
              ng-model="searchParams().proximity.country"
              ng-options="k as v.name for (k, v) in countries"
              ng-required="isProximitySearch()">
            </select>
          </div>
        </div>
        <div class="crm-buttons">
          <button crm-icon="search" ng-click="search()">{{ts('Search')}}</button>
        </div>
      </div>
    </form>
  </div>


  <!-- Shopping Cart -->
  <div class="crm-vol-half-responsive crm-vol-opp-cart" ng-class="{'floating_cart': cartIsFloating, 'contents_visible': showCartContents}">
    <h2>{{ts('Your Selected Volunteer Opportunities')}}</h2>
    <div class="crm-block ui-tabs ui-widget ui-widget-content ui-corner-all " ng-form="volOppCheckoutForm" crm-ui-id-scope>
      <div class="crm-vol-opp-cart-message-wrapper">
        <div class="crm-vol-opp-cart-large-indicator">
          <span>{{itemCountInCart}} {{ts('Commitments')}}</span>
        </div>
        <div class="crm-vol-opp-cart-message">
          <span ng-show="itemCountInCart === 0">{{ts('Make a commitment by clicking the checkbox for the volunteer opportunity that interests you.')}}</span>
          <span ng-hide="itemCountInCart === 0">{{ts('Great! Make as many selections you like, then click \'Sign Up!\' to complete your registration.')}}</span>
        </div>
      </div>

      <table ng-show="showCartContents" class="display dataTable no-footer crm-vol-opp-cart-list" ng-class="{'contents_visible': showCartContents}" role="grid">
        <thead>
        <tr role="row">
          <th class="ui-state-default crm-vol-opp-project">{{ts('Project')}}</th>
          <th class="ui-state-default crm-vol-opp-role">{{ts('Role')}}</th>
          <th class="ui-state-default crm-vol-opp-time">{{ts('Time')}}</th>
          <th class="ui-state-default crm-vol-opp-toggle">{{ts('Remove')}}</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="need in shoppingCart" role="row" class="crm-vol-opp-cart-need-{{need.id}}">
            <td class="crm-vol-opp-project">
            {{need.project.title}}
              <span
                class="icon ui-icon-comment"
                ng-show="need.project.description"
                ng-click="showProjectDescription(need.project)">
              </span>
          </td>
          <td class="crm-vol-opp-role">{{need.role_label}}
              <span
                class="icon ui-icon-comment"
                ng-show="need.role_description"
                ng-click="showRoleDescription(need)">
              </span>
          </td>
          <td class="crm-vol-opp-time">{{need.display_time}}</td>
          <td class="crm-vol-opp-toggle">
              <span
                class="icon ui-icon-trash"
                ng-checked="need.inCart"
                ng-click="toggleSelection(need)"
            </span>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="crm-buttons">
        <button class="crm-vol-button crm-vol-opp-cart-sign-up" crm-icon="check" ng-click="checkout()" ng-disabled="itemCountInCart === 0">
          {{ts('Sign Up!')}}
        </button>
        <a class="crm-vol-opp-cart-show-contents" ng-hide="itemCountInCart === 0" ng-click="toggleCartList()">{{showCartContents ? ts('Hide selections') : ts('View selections')}}</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <!-- Results -->
  <div class="crm-vol-opp-results messages status no-popup" ng-show="_.size(volOppData()) === 0">
    <div class="icon inform-icon"></div>
    {{ts('No results found. Please try different search criteria.')}}
  </div>
  <div class="crm-vol-opp-results" ng-show="_.size(volOppData()) > 0">
    <h2>{{ts('Available Volunteer Opportunities')}}</h2>
    <p class="description">
      {{ts('For additional project or role detail, click the corresponding detail icon in the table below.')}}
      <span class="icon ui-icon-comment"></span>
    </p>
    <table class="display dataTable no-footer" role="grid">
      <thead>
      <tr role="row">
        <th class="ui-state-default crm-vol-opp-project">{{ts('Project')}}</th>
        <th class="ui-state-default crm-vol-opp-beneficiary">{{ts('With')}}</th>
        <th class="ui-state-default crm-vol-opp-role">{{ts('Role')}}</th>
        <th class="ui-state-default crm-vol-opp-time">{{ts('Time')}}</th>
        <th class="ui-state-default crm-vol-opp-toggle">{{ts('Sign up!')}}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="need in volOppData()" role="row" class="crm-vol-opp-need-{{need.id}}">
          <td class="crm-vol-opp-project">
          {{need.project.title}}
            <span
              class="icon ui-icon-comment"
              ng-show="need.project.description"
              ng-click="showProjectDescription(need.project)">
            </span>
        </td>
        <td class="crm-vol-opp-beneficiary">
          <span class="beneficiary" ng-repeat="ben in need.project.beneficiaries">{{ben.display_name}}</span>
        </td>
        <td class="crm-vol-opp-role">{{need.role_label}}
            <span
              class="icon ui-icon-comment"
              ng-show="need.role_description"
              ng-click="showRoleDescription(need)">
            </span>
        </td>
        <td class="crm-vol-opp-time">{{need.display_time}}</td>
        <td class="crm-vol-opp-toggle">
          <input
            type="checkbox"
            ng-checked="need.inCart"
            ng-click="toggleSelection(need)"
            class="crm-form-checkbox"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
